html {
    position: relative;
    min-height: 100%;
}

html, body {
	padding: 0px;
	margin: 0px;
    top: 0px;
    min-height: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 300;
    font-family: 'Questrial', georgia;
    background: #e55;
}

body {
    margin: 0 0 78px; /* bottom = footer height */
}

div {
	margin: 0px;
	padding: 0px;
    overflow: hidden;
	box-sizing: border-box;
}

p {
	font-weight: 300;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
    font-weight: 300;
    color: #222;
}

h1 {
	font-size: 24px;
    font-weight: 300;
	text-align: left;
    margin: 0;
    color: #f0f0f0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}

label {
	color: #f0f0f0;
}

#game-header {
    background: #eee;
    width: 100%;
    padding: 25px;
}

#game-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px;
    width: 100%;
    background: #eee;
}

#game-circle {
    height: 300px;
    width: 300px;
    border: 5px solid #202020;
    border-radius: 50%;
    background: #eee;
    margin: 20px auto 50px;
}

#timeline {
    width: 100%;
    height: 140px;
    position: relative;
    background: rgba(255,255,255,0.3);
}

#timeline > * {
    display: inline-block;
}

.timeline-span {
    height: 8px;
    margin-top: 66px;
    width: 33.333333333333333%;
    background: #d9d9d9;
}

.song-circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    background:#333;
}

#current-song-circle {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: absolute;
    background:#333;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
}