html {
    position: relative;
    min-height: 100%;
}

html, body {
	padding: 0px;
	margin: 0px;
    top: 0px;
    min-height: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 300;
    font-family: 'Questrial', georgia;
    background: #aaa url(http://hejelin.se/back.jpg);
    background-size: cover;
}

body {
    margin: 0 0 78px; /* bottom = footer height */
}

div {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

p {
	font-weight: 300;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
    font-weight: 300;
    color: #222;
}

h1 {
	font-size: 24px;
    font-weight: 300;
	text-align: left;
    margin: 0;
    color: #f0f0f0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}

label {
	color: #f0f0f0;
}

#game-header {
    background: #eee;
    width: 100%;
    padding: 25px;
}

.caret-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #eee;
    /* height: 40px; */
    margin: auto;
}

#game-circle {
    height: 300px;
    width: 300px;
    border: 8px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 20px auto 50px;
    position: relative;
    overflow: visible;
    padding-top: 50px;
    background: url(image/audiowave-gif.gif);
    background-size: cover;
}

#artist, #song {
    text-align: center;
    position: relative;
    padding: 15px;
    background: #e55;
    z-index: 5;
}

#artist {
    background: #9c3;
    text-align: right;
    margin-top: 25px;
}

#timeline {
    width: 100%;
    height: 140px;
    position: relative;
}

#timeline > * {
    display: inline-block;
}

.timeline-span {
    height: 12px;
    margin-top: 62px;
    width: 33.333333333333333%;
    background: #d9d9d9;
    display: inline-block;
    vertical-align: middle;
}

.timeline-span:hover {
    background: #c66;
}

#current-song-circle, .song-circle {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    position: absolute;
    background:#333;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

.song-circle {
    height: 80px;
    width: 80px;
}

#game-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px;
    width: 100%;
    background: #eee;
}

#game-footer h2 {
    display: inline-block;
}

#score {
    float: left;
}

#round {
    float: right;
}

