

<div id="game-header"><h2><a href="/"><img src="content/image/logo.png" alt="logo" id="logo" /> <h2>Saturn</h2></a></div>
<div class="rings-in-back"></div>
<div class="rings-in-front"></div>

<div id="song-details">
	<h2 class="title">{{currentSong.name}}</h2>
	<h2>{{currentSong.artist_name}}</h2>
	<h2>{{currentSong.year}}</h2>
</div>

<div id="game-content" ng-init="init()">
  <img ng-src="{{currentSong.image_url !== null && currentSong.image_url || 'content/image/audiowave-gif.gif'}}" id="album-cover" alt="album cover" class="animate-blur"/>
  <div ng-if="gameInSession" class="question-and-timer">
  	<h2 id="timer"><strong>{{timeLeft}}</strong></h2>
    <h2 id="question">Which timespan?</h2>
  </div>
  <div ng-if="!gameInSession">
  </div>
</div>

<div id="timeline" ng-mousemove="moveMarker($event)" ng-mouseenter="addMarkerToGUI($event)" ng-click="placeMarker()">
	<div id="startpoint">1950</div>
	<div id="current-song-circle" class="{{markerSet && '' || 'no-pointer-events'}}">
		<img height="30px" id="padlock" ng-src="{{markerSet && 'content/image/lock.png' || 'content/image/unlock.png'}}"/>
	</div>
  <div ng-repeat-start="song in timelineSongs" class="timeline-span {{isSelected($index)}} {{markerHovers($index)}}" style="width: {{timelineSpanWidth()}}%"></div>
  <div ng-repeat-end class="song-circle">{{song.year}}</div>
	<div id="timeline-base-span" class="{{isSelected(-1)}} {{markerHovers(-1)}}"></div>
	<div id="endpoint">NOW</div>
</div>

<div id="game-footer"><h2 id="score">SCORE <em>{{score.total}}</em><em class="emergency">{{score.round!=0 && ' +' + score.round || ''}}</em></h2><h2 id="round">CORRECT GUESSES {{timelineSongs.length}} / 10</h2></div>

