<script type="text/javascript">
	$('#timeline').mouseenter(function(e){
		$("#current-song-circle").css({width:'80px', height:'80px'});
	});

	$('#timeline').mousemove(function(e){
		if(!markerSet)
	    	$("#current-song-circle").css({left:e.pageX});
	});
</script>

<div id="game-header"><h2><a href="/">BACK</a></div>

<!-- <input type="button" value = "Add Song" ng&#45;click="addSong()"> -->
<div id="game-circle">
  <div ng-if="gameInSession">
  	<h2 id="timer"><strong>{{score.round}}</strong></h2>
    <h2 id="question">Which timespan?</h2>
  </div>
  <div ng-if="!gameInSession">
    <input type="button" ng-click="startGame()" id="start-game" value="Start Game" />
  </div>
</div>

<div id="timeline">
	<div id="current-song-circle"></div>
	<div ng-repeat-start="song in timelineSongs" class="timeline-span {{isSelected($index)}}" style="width: {{timelineSpanWidth()}}%" ng-click="selectSpan($index)"></div>
  <div ng-repeat-end class="song-circle">{{song.year}}</div>
	<div id="timeline-base-span" class="{{isSelected(-1)}}" ng-click="selectSpan(-1)"></div>
</div>

<div id="game-footer"><h2 id="score">SCORE <em>{{score.total}}</em></h2><h2 id="round">CORRECT GUESSES {{timelineSongs.length}}</h2></div>

